<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		body{
			background: #F2ECBE;
		}
		header{
			text-shadow: 5px 5px 4px #9A3B3B;
			color: #C08261; 
			margin-top: 150px;
			text-align: center;
			font-size: 60px;
		}
		h1{
			text-align: center;
		}
		a{
			text-decoration: none;
			color: #C08261; 
		}
		a:hover{
			color: #9A3B3B;
		}
	</style>
</head>
<body>
	<header>
		<h1 >Already<br>Exist</h1>
	</header>
	<h1><a href="{% url "home" %}">Back to Home Page</a></h1>


</body>
</html>