<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Registration Form</title>
  </head>
  <body>
    <form method='post'>

        <input type="hidden" name="csrfmiddlewaretoken" value="9M3CVAErmIzYrCVWrv4IWdyrA0bmw2WOMMzmEltMSnGGRHsdQ8WjPgQCwl3xJXRX">

        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" maxlength="100" required id="id_name">
        </div>


        <div>
            <label for="id_roll_no">Roll no:</label>
            <input type="text" name="roll_no" maxlength="100" required id="id_roll_no">
        </div>


        <div>
            <label for="id_dob">Dob:</label>
            <input type="text" name="dob" required id="id_dob"> 
        </div>


        <div>
            <label for="id_email">Email:</label>
            <input type="email" name="email" maxlength="100" required id="id_email">   
        </div>


        <div>
            <label for="id_gender">Gender:</label>
            <input type="text" name="gender" maxlength="15" required id="id_gender">
        </div>


        <div>
            <label for="id_religion">Religion:</label>
            <input type="text" name="religion" maxlength="15" required id="id_religion"> 
        </div>
        

        <div>
            <label for="id_blood_group">Blood group:</label>
            <input type="text" name="blood_group" maxlength="10" required id="id_blood_group">
        </div>


        <div>
            <label for="id_father_name">Father name:</label>
            <input type="text" name="father_name" maxlength="100" required id="id_father_name">
        </div>


        <div>
            <label for="id_mother_name">Mother name:</label>
            <input type="text" name="mother_name" maxlength="100" required id="id_mother_name">
        </div>


        <div>
            <label for="id_address">Address:</label>
            <input type="text" name="address" maxlength="200" required id="id_address">
        </div>


        <div>
            <label for="id_phone_number">Phone number:</label>
            <input type="text" name="phone_number" maxlength="12" required id="id_phone_number">
        </div>


        <div>
            <label for="id_sem1_sgpa">Sem1 sgpa:</label>
            <input type="number" name="sem1_sgpa" min="0" max="10" step="any" required id="id_sem1_sgpa">
        </div>


        <div>
            <label for="id_sem2_sgpa">Sem2 sgpa:</label>
            <input type="number" name="sem2_sgpa" min="0" max="10" step="any" required id="id_sem2_sgpa">
        </div>


        <div>
            <label for="id_sem3_sgpa">Sem3 sgpa:</label>
            <input type="number" name="sem3_sgpa" min="0" max="10" step="any" required id="id_sem3_sgpa">
        </div>
    

        <div>
            <label for="id_sem4_sgpa">Sem4 sgpa:</label>
            <input type="number" name="sem4_sgpa" min="0" max="10" step="any" required id="id_sem4_sgpa">
        </div>


        <div>
            <label for="id_sem5_sgpa">Sem5 sgpa:</label>
            <input type="number" name="sem5_sgpa" min="0" max="10" step="any" required id="id_sem5_sgpa">
        </div>

        
        <div>
            <label for="id_sem6_sgpa">Sem6 sgpa:</label>
            <input type="number" name="sem6_sgpa" min="0" max="10" step="any" required id="id_sem6_sgpa">
        </div>


        <div>
            <label for="id_sem7_sgpa">Sem7 sgpa:</label>
            <input type="number" name="sem7_sgpa" min="0" max="10" step="any" required id="id_sem7_sgpa">
        </div>


        <div>
            <label for="id_sem8_sgpa">Sem8 sgpa:</label>
            <input type="number" name="sem8_sgpa" min="0" max="10" step="any" required id="id_sem8_sgpa">
    
        </div>
        
    </form>

  </body>
</html>


