a .btn:focus{
    outline: none !important;
    border:1px solid #9A3B3B;
    box-shadow: 0 0 5px #9A3B3B;
}

body {
  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2C799, #C08261);
    background: linear-gradient(to right, #E2C799, #C08261);
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}


.student-profile .card {
    background-color: #F2ECBE;
    border-radius: 10px;
}
.profile-area{
    height: 590px;
    margin-bottom: 26px;
}
.student-profile .card .card-header .profile_img {
    outline: none !important;
    border:2px solid#C08261;
    box-shadow: 0 0 10px #C08261;
    width: 250px; 
    height: 250px;
    object-fit: cover;
    margin: 50px auto;
    /* border: 10px solid #E2C799; */
    border-radius: 80%;
} 

.student-profile .card h3 {
    font-size: 22px;
    font-weight: 1000;
    color: #9A3B3B;
}


.student-profile .card .mb-0{
    font-size: 18px;
    color: #9A3B3B;
}
.student-profile .card .mb-1{
    font-size: 15px;
    color: #9A3B3B;
}


.student-profile .table th,
.student-profile .table td {
    border-width: 0px;
    font-size: 12px;
    padding: 5px 10px;
    color: #9A3B3B;
    border-color: #F2ECBE;
    border:none;
    border-style: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
   
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.avg{
    color: #9A3B3B; 
}


@media screen and (max-width:1150px){
    .student-profile .card .card-header .profile_img {
        width: 200px; 
        height: 200px;
    } 
}

@media screen and (max-width:990px){
    .student-profile .card .card-header .profile_img {
        width: 250px; 
        height: 250px;
    } 
}

@media screen and (max-width:500px){
    .student-profile .card .card-header .profile_img {
        width: 200px; 
        height: 200px;
    } 
    .student-profile .card .mb-1{
        font-size: 12px;
        color: #9A3B3B;
    }
    
}